<div class = "home_page">

  <div class ="felix">
  </div>

  <div class ="content">
    <div class="everything_else">
  <a href="<%=@post.url%>"><h2><%=@post.title%></h2></a>
  <%author= User.find_by(id: @post.user_id)%>
  <a href='/user/<%=author.id%>'><%=author.name%></a>


  <form action="/post/<%=@post.id%>/comment" method="POST">
    Comment:<br>
    <textarea name="comment[content]"></textarea><br>
    <input type="submit" value="Submit your comment.">
  </form>

  <table>

  <%@post.comments.all.each do |comment|%>
    <%user=User.find_by(id: comment.user_id)%>
      <tr>
        <td>> <%=comment.content%><br>
        <span id="comment_link"><%=comment.user.name%></span><br></td>
      </tr>
      <%end%>
    </table>


  </div>
</div>
</div>
